.DS_Store
node_modules
frontend/node_modules

# local env files
.env.local
.env.*.local
.venv
venv

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#dist
frontend/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
